
@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700;900&display=swap');

.page {
    background-color: var(--white);
    width: 90%; /* Ajustable selon le besoin */
    max-width: 1200px;
    padding: 1em;
    border-radius: 0;
    border-top-left-radius: 16rem;
    border-top-right-radius: 16rem;

    box-shadow: 0 4px 8px rgba(228, 228, 228, 0.2);
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
}
/* Responsive Design */
@media screen and (max-width: 768px) {
    .page {
        width: 95%; /* Augmente la largeur pour mieux remplir l'écran */
        padding: 1.5em; /* Plus d'espace intérieur */
        border-top-left-radius: 20%;
        border-top-right-radius: 20%;
    }
}

html, body {
    font-family: 'Rubik';
    text-align: center;
    margin: auto;
    background-color: var(--lightbrown);

    min-height: 100vh;  /* Allow full-page height */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1 {
    font-family: 'Sigmar', serif;
    margin: 0;
    font-weight: 100;
    font-size: 4rem;
    margin-top: 5%;
    margin-bottom: auto;
    font-style: normal;

    background: transparent;
    text-shadow: 5px 5px 0px var(--lightpink),
    -5px -5px 0px var(--lightpink);

    color: #022B3A;
    color: #1F7A8C;
    color: #BFDBF7;
    color: #F1F3F9;
    color: #FFFFFF;
    color: #1F7A8C;

    color: var(--darkbrown)


}
p {
    font-size: 2em;
    margin-top: 2rem;
    width: 50%;
    margin-bottom: auto;
}
div {
    margin: 0;
    display: flex;
    justify-content: center;
    border-radius: 30%;
}

#titre {
    padding: 20px;
}

.conteneur {
    display: flex;
    margin: auto;
    flex-wrap: wrap; /* Allow buttons to wrap on small screens */
    justify-content: center;
    max-width: 90%;
    width: 1000px;

}
#conteneur {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    width: 1000px;
}
a {
    text-decoration: none;
    font-weight: bold;
    font-family: 'Rubik';
    font-size: medium;
    color: var(--secondbackcolor);
}

/****** animation *************/
.fill:hover,
.fill:focus {
    box-shadow: inset 0 0 0 4em var(--darkbrown);

}

.offset {  
  box-shadow: 
    0.e3m 0.3em 0 0 var(--darkbrown),
    inset 0.3em 0.3em 0 0 var(--darkbrown);
  
  &:hover,
  &:focus {
    box-shadow: 
      0 0 0 0 var(--darkbrown),
      inset 5em 3.5em 0 0 var(--darkbrown);
  }
}

button {
    color: var(--darkbrown);
    transition: 0.25s;

    &:hover,
    &:focus {
        border-color: var(--darkbrown);
        color: var(--lightpink);
    }
}
button {
    background: none;
    
    border: 1.5px solid;
    width: 120px;
    height: 80px;
    font: inherit;
    line-height: 1;
    margin:1.5rem;
    padding:10px;
    border-radius: 10%;
    font-size: large;
}
.form-control {
    height: 4em;
    width: 100%;
    background: var(--white);
    margin-bottom: 3rem;
    border-radius: 3cap;
    box-shadow: none;
    font-size: medium;
}
.formButton {
    
    border-color: var(--darkbeige);
    color: var(--darkbrown);
    font-family: 'titillium-web-semibold';
    margin-bottom: 4em;

    border-radius: 42px;
    border-radius: 0px;
    display: none;
    
    &:hover {
        border-radius: 20px;
        background: var(--white);
        box-shadow:  15px 15px 30px var(--lightpink),
                     -15px -15px 30px var(--white);
             border-color: var(--lightpink);
             color: var(--darkbrown );
             background-color: var(--lightpink);
    }
}
form {
    width: 70%;
    margin-inline: 3px;
}
input {
    height: 20%;
    width: 90%;
    border-color: #fff;
    background-color: #F1F3F9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serifs;
    color:#000;
    margin-top:2rem;
    margin-bottom: 2rem;
}
input::selection {
    background-color: #BFDBF7; /* Couleur de fond de la sélection */
    color: #000; /* Couleur du texte sélectionné */
}
video {
    width: 80%;  /* Adjust width */
    max-width: 800px; /* Maximum width */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Shadow effect */
    display: block; /* Avoid inline display issues */
    margin: 20px auto; /* Center the video */
}
